body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	scroll-behavior: auto;
	box-sizing: border-box;
}
header{
	padding: 40px 0;
	background-color: #00795f;
	width: 100%;
	color: white;
	text-align: center;
}
a {
	text-decoration: none;
	color: inherit;
}
nav ul {
	background-color: #43a286;
	overflow: hidden;
	color: white;
	text-align: center;
	padding: 0;
	margin: 0;
	-webkit-transition: max-height 1s;
	-ms-transition: max-height 1s;
	-moz-transition: max-height 1s;
	-o-transition: max-height 1s;
	transition: max-height 1s; 	
}
nav ul li {
	display: inline-block;
	padding: 20px;

}
nav ul li:hover{
	background-color: #199077;
}
section {
	 padding: 30px;
	 margin: 0 40px;
	font-size: 0.9em;
	line-height: 1.5em;

}
.handle{
	width: 100%
	text-align: left;
	cursor: pointer;
	padding: 15px 10px;
	box-sizing: border-box;
	background-color: #005c48;
	color: white;
	display: none;
}



body{
	margin: 0;
	padding: 0;
	
	
}

.signup{
	line-height: 1px;
	float: right;
	width: 50%;

	
}
.login{
	line-height: 1px;
	float: left;
	width: 50%;

	

}
input[type=submit]{
		cursor: pointer;
}
table{
	
		
		margin: 5% 10%;
	

}




@media screen and (max-width: 580px) {
	nav ul {
		max-height: 0;
	}
	.showing{
		max-height: 20em;
	}
	nav ul li{
			box-sizing: border-box;
			width: 100%;
			text-align: left;
			padding: 15px;

	}
	.handle{
		display: block;
	}
	
}
@media screen and (max-width: 1000px) {
	.signup{
		float: right;
		width: 100%;
		box-sizing: border-box;


	}
	.login{
		float: left;
		width: 100%;
	}
	
}

@media screen and (max-width: 410px) {
	.signup{
		float: left;
		
		


	}
	.login{
		float: left;

		width: 100%;
	}
	
}
